pydantic==2.11.7
langchain_huggingface
langchain-groq==1.1.1
fastapi==0.118.1
uvicorn
python-dotenv
SQLAlchemy==2.0.41
psycopg2-binary==2.9.9
transformers
soundfile
sentencepiece 

# Add pytorch cpu 
# pip install git+https://github.com/VarunGumma/IndicTransToolkit.git